<footer >
    <div class="footer">
      <div class="info-div">
        <h1 class="info-logo">MediTalk</h1>
        <p class="info-p">Lorem ipsum dolor sit amet consectetur adipisici veniet, porro odio, temporibus laudantium voluptatum.</p>
      </div>
      <div class="about-links">
        <h1>About Company</h1>
        <ul>
          <a href="/">Company</a>
          <a href="/allHospitals">Find a Hospitals</a>
          <a href="/allDoctors">Find a Doctor</a>
          <!-- <a href="/ourServices">Our Services</a> -->
          <a href="/contactUs">Plans and Prices</a>
        </ul>
      </div>
      <div class="help">
        <h1>Help & Support</h1>
        <ul>
          <a href="/allHospitals">Hospitals Booking</a>
          <a href="/contactUs">Help / Support</a>
          <a href="/allDoctors">Book Appointment</a>
          <a href="/">Sign In</a>
        </ul>
      </div>
      <div class="inputs">
        <input type="text" placeholder="Email address">
        <Button class="hero-btn">Submit Now</Button>
      </div>

    </div>
  </footer>


</body>

</html>