<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/home.css">
</head>

<body>
  <div class="sticky">
    <nav class="navbar">
      <div class="logo-div">
        <a class="logo" href="/">HealthConnect</a>
      </div>
      <div class="links-div">
        <li><a href="/">Home</a></li>
        <li><a href="/allDoctors">Find Doctors</a></li>
        <li><a href="/allHospitals">Find Hospitals</a></li>
        <!-- <li><a href="/ourServices">Our Services</a></li> -->
        <li><a href="/contactUs">Contact Us</a></li>
      </div>
      <div class="reg-div">
        <li><a class="sign-up" href="/">Sign Up</a></li>
        <li><a class="log-in" href="/">Log In</a></li>
      </div>
    </nav>
  </div>
  