<%- include ('partials/header.ejs') %>
<div class="container" style="width: 80%; margin: 6rem auto;">
    <form >
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">

      <label for="emailIS">Email Id :</label>
      <input type="email" id="emailIS" name="emailId" placeholder="Your email id..">
  
      <label for="country">Gender</label>
      <select id="country" name="country">
        <option value="australia">Male</option>
        <option value="canada">Female</option>
        <option value="usa">Prefer not to say</option>
      </select>
  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
    </form>
  </div>
<%- include ('partials/footer') %>